.review-title {
    font-size: 24px;
    font-family: 'Nunito' sans-serif;
    margin: 0.5em 0;
}

.review-stars {
    font-size: 24px;
    margin: 0 0 0.5em 0;
}

.img-modifier-55 {
    width: 55%;
    height: auto;
    margin: 0;
}

